@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<div class="alert alert-block alert-danger">
    <p>
        <strong>
            <i class="ace-icon fa fa-close"></i>
            آیا از حذف اطمینان دارید ؟
        </strong>
       
    </p>
    <p>
        <input type="submit" value="حذف" class="btn btn-sm btn-danger"/>
        <button class="btn btn-sm" data-dismiss="modal" aria-label="Close">لغو کردن</button>
    </p>
</div>

}
